*{
  font-family: Tahoma;
}
.selectedLink{
  font-weight: bold;
  background-color:  #3c99dc;
}

body{
background: #e7e9bb;
}

input,  button , a{
  display: block;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow: 
      inset 0 2px 0 rgba(0,0,0,.2), 
      0 0 4px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

a {
  display:inline;
}

th{
  font-weight: bold !important;
}
nav{
  margin-bottom: 1rem;
}

.navbar-right{
    position: absolute;
    top: 0px;
    right: 15px;
}

.titles{
  display:inline;
}

.navbar-right-el{
  display:inline;
}
.error{
  color:#e84855;
}

button , a{
  background-color:  #4CAF50;
  color:#e7e9bb;
}

input:focus {
  outline: none;
  box-shadow: 
      inset 0 2px 0 rgba(0,0,0,.2), 
      0 0 4px rgba(0,0,0,0.1), 
      0 0 5px 1px #51CBEE;
}

.new_message{
  width: 30%;
}

.message{
  border-radius: 20px;
  padding: 5px 8px;
  max-width: 400px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-width: 1rem;
}

.blue{ background-color:   #51CBEE;}
.red {background-color:  #e84855;}

ul {
  list-style-type: none;
}

.main_title{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
color: #e84855;
text-align: center;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 5px rgba(0,0,0,0.1),
             0px 5px 10px rgba(0,0,0,0.1);
}